
<!DOCTYPE html>

<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/mwdk/assets/css/mwdk-main.css' type='text/css' />
<link rel='stylesheet' href='/mwdk/mwdk-assets/css/widget-guide.css' type='text/css' />
<link rel='stylesheet' href='guideStyles.css' type='text/css' />


<script >
	var WIDGET_HEIGHT = '600';
	var WIDGET_WIDTH = '800';
	var BASE_URL = '/mwdk/'
	var API_LINK = '/api/json/'
	var WIDGET_URL = '/'
	var MEDIA_URL = '/mwdk/media'
    var PLAY_ID = '{{ instance }}'
	var STATIC_CROSSDOMAIN = 'http://localhost:{{ port }}/'
    var NAME = '{{ name }}'
    var TYPE = '{{ type }}'
    var HAS_PLAYER_GUIDE = '{{ hasPlayerGuide }}'
    var HAS_CREATOR_GUIDE = '{{ hasCreatorGuide }}'
    var DOC_PATH = '{{ docPath }}'
</script>

<div id="topbar">
	<a class="logo" href="/">Materia Widget Developer Kit</a>
	<div class="tools">
		<button class="edit_button orange" onclick="location.href='/preview';">Player (Demo)</button>
		<button id="downloadLink" class="edit_button orange" onclick="MWDK.Package.showPackageDownload();">Download Package</button>
	</div>
</div>

<div id="app">
</div>

<script type="text/javascript" src="/mwdk/mwdk-assets/guides.js"></script>
